.search-bar {margin-left:10px}
.search-bar-landing {margin-left:10px}
.logo__ceebios {color:#3D5170; margin-right: 5px; margin-left: 5px;}
.logo__biowser {color:#fb2056; }
.username {width:auto; margin-right:10px; margin-left:50px}
.history {width:auto,; margin-right:10px}
.tabs-data {width:50%; height:900px}
.tabs-data .single-tab {margin:0; padding:0; border:0}
.explore-page {border:0; margin:0; padding:0}
.climate-note {padding-left:10px; margin-bottom:20px}
.paper-tab {height:900px; overflow:auto; text-align: justify}
.map-div .map {height:750px}
.map-div {height:800px}
.resources-container {width:100%; height:800px}